@font-face {
    font-family: airelons;
    src: url(Assets/Fonte/Ailerons-Typeface.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(166, 166, 166);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    /* border: 3px solid orange; */
  }



/*                     HEADER                      */
header {
    width: 100%;
    height: 95vh;
    background-image: url(Assets/img/carros/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    padding: 0 30px 0 30px;
    position: fixed;
    /* background-color: rgb(69, 69, 69); */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logoP1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logoP2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: -15px;
}

.logomarca {
    color: #FFF;
    font-family: 'Noto Serif';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logotipo {
    display: none;
    color: #FFF;
    font-family: Ailerons;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav.rolagem {
    background: linear-gradient(153deg, #272829 -145.87%, #37393D 102.75%);
}

nav.rolagem div{
    margin: 0;
}

nav.rolagem span#txtLogo1{
    display: none;
}

nav.rolagem span#txtLogo2{
    display: none;
}

nav.rolagem span#txtNome1{
    display: block;
    width: 9ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s, steps(9);
    font-family: airelons;
}
 
nav.rolagem span#txtNome2{
    display: block;
    width: 7ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s, steps(7);
    font-family: airelons;
}

@keyframes typing {
    from {
        width: 0;
    }
}

.links {
    display: flex;
    gap: 60px;
    padding: 0 60px 0 0px;
}

.links a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Noto Serif';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links a:hover {
    color: #a6a6a6;
}

#frase-home {
    display: flex;
    justify-content: left;
    margin-left: 115px;
}

#frase-home h1 {
    color: #FFF;
    font-family: 'Noto Serif';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 115px;
}









/*                     EMPRESA                      */
.titulo-sessão {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(153deg, #272829 -145.87%, #37393D 102.75%);
}

.titulo-sessão h2 {
    color: #FFF;
    font-family: 'Noto Serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conteudo-empresa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

#imagem-empresa {
    width: 50%;
    height: 700px;
}

#imagem-empresa img{
    height: 700px;
} 

#texto-empresa {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

#texto-empresa h3 {
    color: #000;
    text-align: center;
    font-family: airelons;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#texto-empresa {
    color: #000;
    font-family: 'Noto Serif';
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 165.2%;
}







/*                     CONTATO                      */
.contato-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 700px;
}

.contato-texto {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.meios-contato {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contato-nomes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.contato-nomes img {
    height: 50px;
    width: 50px;
}

.contato-nomes h6 {
    color: #000;
    text-align: left;
    font-family: 'Noto Serif';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contato-nomes p {
    color: #000;
    font-family: 'Noto Serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#contato-imagem {
    width: 60%;
    height: 700px;
}







/*                     FOOTER                      */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(153deg, #272829 -145.87%, #37393D 102.75%);
    padding: 66px 0 66px 0;
}

footer hr {
    width: 1000px;
    height: 1px;
    background: #FFF;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer p {
    color: #FFF;
    font-family: 'Noto Serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer a {
    color: #FFF;
    font-family: 'Noto Serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}